@model IEnumerable<MvcOAuthApiEmpleados.Models.Empleado>

@{
    ViewData["Title"] = "EmpleadosOficios";
    List<string> oficios = (List<string>)ViewData["OFICIOS"];
}

<h1>Empleados Oficios</h1>
<hr />
<form method="post">
    <label>Oficio:</label>
    <select class="form-control" name="oficios" size="5" multiple>
        @foreach(string oficio in oficios)
            {
                <option>@oficio</option>
            }
    </select>
    <label>Incrementar salario</label>
    <input type="number" class="form-control" name="incremento"/>
    <button class="btn btn-primary" name="accion" value="update">Incrementar</button>
    <button class="btn btn-info" >Mostrar empleados</button>
    </form>
@if(Model != null){    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oficio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDepartamento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oficio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDepartamento)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>
}
